menu "Motor Configuration"

  choice MOTOR_PINNED_TO_CORE_CHOICE
    prompt "The cpu core which Motor run"
    depends on !FREERTOS_UNICORE
    help
      Specify the cpu core to run motor.
    config MOTOR_PINNED_TO_CORE_0
      bool "Core 0 (PRO CPU)"
    config MOTOR_PINNED_TO_CORE_1
      bool "Core 1 (APP CPU)"
    config MOTOR_NO_CORE_AFFINITY
      bool "No Affinity (PRO or APP CPU)"
    depends on !FREERTOS_UNICORE
  endchoice #MOTOR_PINNED_TO_CORE_CHOICE
  
  choice MOTOR_PWM_FREQ_CHOICE
    prompt "PWM Frequency"
    help
      Specify the supported PWM frequency
    config MOTOR_PWM_FREQ_20KHZ
      bool "20kHz"
    config MOTOR_PWM_FREQ_40KHZ
      bool "40kHz"
    config MOTOR_PWM_FREQ_80KHZ
      bool "80kHz"
  endchoice #MOTOR_PWM_FREQ_CHOICE
  
  config MOTOR_STACK_SIZE
    int "Stack Size of Motor Task"
    default 4096
    help
      Stack Size of Motor Task

  config MOTOR_SPEED_CTRL_INTERVAL
    int "Speed Control Loop Interval, ms"
    default 5
    help
      Speed control calculation interval

  config MOTOR_POSITION_CTRL_INTERVAL
    int "Position Control Loop Interval, ms"
    default 10
    help
      Position control calculation interval

  menu "Motor One"
    choice DRV1_MODE
      prompt "Type of BD62220 operating mode"
      help
        Specify BD62220 mode type
      config DRV1_EXT_PWM
        bool "External PWM Control"
      config DRV1_CONST_CURRENT
        bool "PWM Constant Current Control"
    endchoice #DRV1_MODE
    config DRV1_INA_IO_PIN
      int "INA IO Pin"
      default 26
      help
        IO Pin connected to Rohm INA pin
    config DRV1_INB_IO_PIN
      int "INB IO Pin"
      default 25
      help
        IO Pin connected to Rohm INB pin
    config DRV1_VREF_IO
      int "VREF IO Pin"
      default 12
      help
        IO Pin connected to Rohm Vref pin
    config ENC1_CHA_IO_PIN
      int "Encoder ChA IO Pin"
      default 34
      help
        IO Pin connected to ChA of Encoder
    config ENC1_CHB_IO_PIN
      int "Encoder ChB IO Pin"
      default 35
      help
        IO Pin connected to ChB of Encoder
    config MOT1_STOP_TOL
      int "Motor Position Stop Criteria in radian (Q16 format)"
      default 41177
      help
        For 5-pole pair motor, default is (2*pi)/(2 * N pole pairs) << 16
  endmenu # "Motor One"
  
  menu "Motor Two"
    choice DRV2_MODE
      prompt "Type of BD62220 operating mode"
      help
        Specify BD62220 mode type
      config DRV2_EXT_PWM
        bool "External PWM Control"
      config DRV2_CONST_CURRENT
        bool "PWM Constant Current Control"
    endchoice #DRV2_MODE
    config DRV2_INA_IO_PIN
      int "INA IO Pin"
      default 33
      help
        IO Pin connected to Rohm INA pin
    config DRV2_INB_IO_PIN
      int "INB IO Pin"
      default 32
      help
        IO Pin connected to Rohm INB pin
    config DRV2_VREF_IO
      int "VREF IO Pin"
      default 27
      help
        IO Pin connected to Rohm Vref pin
    config ENC2_CHA_IO_PIN
      int "Encoder ChA IO Pin"
      default 39
      help
        IO Pin connected to ChA of Encoder
    config ENC2_CHB_IO_PIN
      int "Encoder ChB IO Pin"
      default 36
      help
        IO Pin connected to ChB of Encoder
    config MOT2_STOP_TOL
      int "Motor Position Stop Criteria in radian (Q16 format)"
      default 41177
      help
        For 5-pole pair motor, default is (2*pi)/(2 * N pole pairs) << 16
  endmenu # "Motor Two"

  menu "Motor Three"
    choice DRV3_MODE
      prompt "Type of BD62220 operating mode"
      help
        Specify BD62220 mode type
      config DRV3_EXT_PWM
        bool "External PWM Control"
      config DRV3_CONST_CURRENT
        bool "PWM Constant Current Control"
    endchoice #DRV3_MODE
    config DRV3_INA_IO_PIN
      int "INA IO Pin"
      default 16
      help
        IO Pin connected to Rohm INA pin
    config DRV3_INB_IO_PIN
      int "INB IO Pin"
      default 5
      help
        IO Pin connected to Rohm INB pin
    config DRV3_VREF_IO
      int "VREF IO Pin"
      default 19
      help
        IO Pin connected to Rohm Vref pin
    config ENC3_CHA_IO_PIN
      int "Encoder ChA IO Pin"
      default 22
      help
        IO Pin connected to ChA of Encoder
    config ENC3_CHB_IO_PIN
      int "Encoder ChB IO Pin"
      default 23
      help
        IO Pin connected to ChB of Encoder
    config MOT3_STOP_TOL
      int "Motor Position Stop Criteria in radian (Q16 format)"
      default 41177
      help
        For 5-pole pair motor, default is (2*pi)/(2 * N pole pairs) << 16
  endmenu # "Motor Three"

  menu "Motor Four"
    choice DRV4_MODE
      prompt "Type of BD62220 operating mode"
      help
        Specify BD62220 mode type
      config DRV4_EXT_PWM
        bool "External PWM Control"
      config DRV4_CONST_CURRENT
        bool "PWM Constant Current Control"
    endchoice #DRV4_MODE
    config DRV4_INA_IO_PIN
      int "INA IO Pin"
      default 4
      help
        IO Pin connected to Rohm INA pin
    config DRV4_INB_IO_PIN
      int "INB IO Pin"
      default 18
      help
        IO Pin connected to Rohm INB pin
    config DRV4_VREF_IO
      int "VREF IO Pin"
      default 2
      help
        IO Pin connected to Rohm Vref pin
    config ENC4_CHA_IO_PIN
      int "Encoder ChA IO Pin"
      default 17
      help
        IO Pin connected to ChA of Encoder
    config ENC4_CHB_IO_PIN
      int "Encoder ChB IO Pin"
      default 21
      help
        IO Pin connected to ChB of Encoder
    config MOT4_STOP_TOL
      int "Motor Position Stop Criteria in radian (Q16 format)"
      default 41177
      help
        For 5-pole pair motor, default is (2*pi)/(2 * N pole pairs) << 16
  endmenu # "Motor Four"
  
endmenu #Motor Configuration

